{% extends "base.html" %}
{% block title %}Saved Passwords{% endblock title %}

{% block body %}

<div class="mt-5">
    <div class="mx-auto col-6">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Account</label>
                <input name="search" value="{{useraccs.name_service}}" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for useracc in useraccs %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{useracc.name_service}}</td>
            <td>{{useracc.username_service}}</td>
            <td>{{useracc.password_service}}</td>
            <td><a href="/delete-acc/{{useracc.id}}" class="btn btn-danger">Delete</a></td>
            <td><a href="/update-acc/{{useracc.id}}" class="btn btn-success">Update</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock body %}