{% extends "base.html" %}
{% block title %}Saved Passwords{% endblock title %}

{% block body %}

<div class="mt-5">
    <div class="mx-auto col-6">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Account</label>
                <input name="search" value="{{useraccs.name_service}}" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for useracc in useraccs %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{useracc.name_service}}</td>
            <td>{{useracc.username_service}}</td>
            <td>
                <input type="password" id="password_{{ forloop.counter }}" class="password-input" value="{{ useracc.password_service }}" readonly>
                <button type="button" onclick="togglePassword('password_{{ forloop.counter }}', this)">Show</button>
            </td>
            <td><a href="/delete-acc/{{useracc.id}}" class="btn btn-danger">Delete</a></td>
            <td><a href="/update-acc/{{useracc.id}}" class="btn btn-success">Update</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<script>
    function togglePassword(inputId, button){
        const passwordField = document.getElementById(inputId);
        if(passwordField.type === "password"){
            passwordField.type = "text";
            button.textContent = "Hide";
        }
        else{
            passwordField.type = "password";
            button.textContent = "Show";
        }
    }
</script> 
{% comment %} <script src="/static/script.js"></script> {% endcomment %}
{% endblock body %}